

@model IEnumerable<BorrowLanded.Models.Expenses>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
    <h1 class="m-2">Expenses</h1>

    </div>
    <div class="col-6 text-right">
    <a asp-controller="Item" asp-action="Create" class="btn btn-primary">Create New Expense</a>

    </div>
    </div>
    
</div>

@if (Model.Count() > 0)
        {
            <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Expense Name</th>
      <th scope="col">Expense Amount</th>
      <th scope="col">Expense Type</th>
      
    </tr>
  </thead>
  <tbody>

      @foreach(var item in Model){
     <tr>
      <th scope="row">@item.Id</th>
      <th scope="row">@item.ExpenseType</th>
      <td >@item.Amount</td>
      <td></td>
    </tr>
        

      }
    

  </tbody>
</table>

        }
        else{
            <h2>No items created yet</h2>
        }